body{
    width:100%;
    margin:auto;
    box-sizing:border-box;

  }
header {
    background:#f4f4f3;
    position:relative;
    top:-1.5em;
    width:100%;
    margin:auto;
    height:10em;
    
}
header > h1 {
    position: absolute;
    left:1.2em;
    top:.1em;
    font-size:60px;
    color:rgb(6, 6, 126);
}
.headingTwo {
    position: absolute;
    left:6.7em;
    top:.1em;
    font-size:60px;
    color:rgb(6, 6, 126);
}
header >h5 {
    position: absolute;
    left:5.5em;
    top:7em;
    color:rgb(6, 6, 126);
}
.flag {
    position:absolute;
    left:76em;
    top:3em;
}
.typography {
    position:absolute;
    right:7.5em;
    top:9.5em;
    font-size: 10px;
}
.bio{
    display:grid;
    position:relative;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 12em;
  }
.bioGeneral{
    display:grid;
    position:relative;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 6em;
  }

  .bioTitle {
    position:relative;
    margin-right: 1em;
    left:4.5em;
  }
  .bioTitle >h3 {
    position:inherit;
    top:-1em;
    font-size: 14.5px;
}
.bioDetails {
    position:absolute;
    height: 10em;
    left:25.5em;
}
.myImage {
    position:absolute;
    top:1em;
    right:-33em;
  }
.borderDown {
      border-bottom:4px solid #f4f4f4;
      position:absolute;
      top:11.9em;
      width:251%;
  }
.borderDownE {
      border-bottom:4px solid #f4f4f4;
      position:absolute;
      top:9em;
      width:351%;
  }
.borderDownEx {
      border-bottom:4px solid #f4f4f4;
      position:absolute;
      top:9em;
      width:651%;
  }
  .borderSDownE {
    border-bottom:4px solid #f4f4f4;
    position:absolute;
    top:9em;
    width:100%;
  }
  .borderSDown {
    border-bottom:4px solid #f4f4f4;
    position:absolute;
    top:11.9em;
    width:100%;
  }
  .borderSDownO {
    border-bottom:4px solid #f4f4f4;
    position:absolute;
    top:7.3em;
    width:100%;
  }
  

  .experience {
      width:880px;
      position: absolute;
      padding-bottom: 4em;
      border-bottom:4px solid #f4f4f4;
      
      /* border:1px solid red; */
  }
 
  .skills {
      display:flex;
      position: absolute;
  }
  .skillBox {
      margin-right: 15em;
  }
  a{
    height: 30px;
    background:#000;
    color:#fff;
    position: absolute;
    right:4em;
    text-decoration: none;
    border-radius: 5px;
    padding:5px;
    text-align: center;
    bottom:-45em;
  }
  a:hover{
    background-color:green;
    color:#ddd;
  }
.bioLanguage {

}
.borderSDownL {
    border-bottom:4px solid #f4f4f4;
    position:absolute;
    top:18em;
    width:100%; 
}
.borderDownL{
    border-bottom:4px solid #f4f4f4;
    position:absolute;
    top:18em;
    width:55em; 
}